.footer{
  background-color: #e3e3e3;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:0;
  z-index: 10;
  &__text{
    font-size: 36px;
    font-weight: 800;
    color: #707070;
  }
}

@media (max-width: 1024px) {
  .footer{
    height: 64px;
    &__text{
      font-size: 22px;
    }
  }
}

@media (max-width: 768px) {
  .footer{
    height: 32px;
    &__text{
      font-size: 18px;
    }
  }
}